extends ../layout

block content
    div.container
        div.row
            h1 404 - Not Found
            p
                strong Not found what you've been looking for?
            p
                a(href="/") Home
            p
                a(href="http://wiki.geofancy.com") FAQ
            p
                a(href="/support") Support