extends ../layout

block content
    div.container
        div.row
            h1 500 - Internal Server Error
            p
                strong Ooooops, something went wrong on our side...
            p
                a(href="/") Home
            p
                a(href="http://wiki.geofancy.com") FAQ
            p
                a(href="/support") Support